@{
    ViewBag.Title = "Projects Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization
@model Web.Models.ProjectListingModel
<div class="content">
    <ul class="breadcrumb">
        <li>
            <p>YOU ARE HERE</p>
        </li>
        <i class="icon-angle-right"></i>
        <li><a href="#" class="active">Projects Listing</a> </li>
    </ul>
    <div class="page-title">
        <h3>Projects Listing</h3>
    </div>
    <div class="pull-left" id="Filters">
        
        <div class="btn-group"> <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-demo-space"> <span class="anim150">Regions</span> <span class="caret"></span> </a>
            <ul class="dropdown-menu">
                <li class="active" data-filter="all" data-dimension="region"><a href="#">All</a></li>
                @foreach (var item in Model.ListOfRegions)
                {
                    <li data-filter="@item.Replace(' ', '_')" data-dimension="region"><a href="#">@item</a></li>
                }

            </ul>
        </div>

        <div class="btn-group"> <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-demo-space"> <span class="anim150">Countries</span> <span class="caret"></span> </a>
            <ul class="dropdown-menu">
                <li class="active" data-filter="all" data-dimension="country"><a href="#">All</a></li>
                @foreach (var item in Model.ListOfCountries)
                {
                    <li data-filter="@item.Replace(' ', '_')" data-dimension="country"><a href="#">@item</a></li>
                }

            </ul>
        </div>
        
        <div class="btn-group"> <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-demo-space"> <span class="anim150">Impact Areas</span> <span class="caret"></span> </a>
            <ul class="dropdown-menu">
                <li class="active" data-filter="all" data-dimension="area"><a href="#">All</a></li>
                @foreach (var item in Model.ListOfImpactAreas)
                {
                    <li data-filter="@item.Replace(' ', '_')" data-dimension="area"><a href="#">@item</a></li>
                }

            </ul>
        </div>
        
        <div class="btn-group"> <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-demo-space"> <span class="anim150">Core Competency</span> <span class="caret"></span> </a>
            <ul class="dropdown-menu">
                <li class="active" data-filter="all" data-dimension="competency"><a href="#">All</a></li>
                @foreach (var item in Model.ListOfCoreCompetency)
                {
                    <li data-filter="@item.Replace(' ', '_')" data-dimension="competency"><a href="#">@item</a></li>
                }

            </ul>
        </div>

    </div>
    <div class="clearfix"></div>
    <br>
    <ul id="Parks" class="just">
        <div class="list_header">
            <div class="meta name active desc" id="SortByName">
                Project Name &nbsp; 
                <span class="sort anim150 asc active" data-sort="data-name" data-order="desc"></span> 
                <span class="sort anim150 desc" data-sort="data-name" data-order="asc"></span> 
            </div>
            <div class="meta region">Region</div>
            <div class="meta country">Country</div>
            <div class="meta area">Impact Area</div>
            <div class="meta competency">Core Competency</div>
            <div class="meta">
                Start/End Date
            </div>
        </div>
        <div class="fail_element anim250">Sorry &mdash; we could not find any parks matching matching these criteria</div>
        @foreach (var row in Model.ListOfProjects)
        {
            <li class="mix @row.Region.Replace(' ', '_') @row.Country.Replace(' ', '_') @row.ImpactArea.Replace(' ', '_') @row.CoreCompetancy.Replace(' ', '_')" data-name="@row.ProjectName">
                <div class="meta name">
                    <div class="titles">
                        <a href="@Url.Action("Project", "Dashboard", new RouteValueDictionary(new { zcode = row.Zcode }))">@row.ProjectName</a>
                    </div>
                </div>
                <div class="meta region">
                    <p>@row.Region</p>
                </div>
                <div class="meta country">
                    <p>@row.Country</p>
                </div>
                <div class="meta area">
                    <p>@row.ImpactArea</p>
                </div>
                <div class="meta competency">
                    <p>@row.CoreCompetancy</p>
                </div>
                <div class="meta">
                    <p>@(row.StartDate.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture)) - @(row.EndDate.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture))</p>
                </div>

            </li>
        }
    </ul>
</div>
<script type="text/javascript">
    $(function() {
        $('#Parks').mixitup({
            layoutMode: 'list', // Start in list mode (display: block) by default
            listClass: 'list', // Container class for when in list mode
            gridClass: 'grid', // Container class for when in grid mode
            effects: ['fade','blur'], // List of effects 
            listEffects: ['fade', 'rotateX'], // List of effects ONLY for list mode
            multiFilter: true,
            onMixLoad: function () { $('#Parks').mixitup('filter', @(new HtmlString(Model.InitFilterString) ) ); }
        });

        
    });
</script>
   
@if (!string.IsNullOrEmpty(Model.SelectedRegion))
{
    <script type="text/javascript">
        $(function() {
            $('#Filters').find('li[data-filter="all"]').removeClass('active');
            $('#Filters').find('li[data-filter="@Model.SelectedRegion.Replace(' ', '_')"]').addClass('active');
        });
    </script>
}
@if (!string.IsNullOrEmpty(Model.SelectedCountry))
{
    <script type="text/javascript">
        $(function() {
            $('#Filters').find('li[data-filter="all"]').removeClass('active');
            $('#Filters').find('li[data-filter="@Model.SelectedCountry.Replace(' ', '_')"]').addClass('active');
        });
    </script>
}
@if (!string.IsNullOrEmpty(Model.SelectedImpactArea))
{
    <script type="text/javascript">
        $(function () {
            $('#Filters').find('li[data-filter="all"]').removeClass('active');
            $('#Filters').find('li[data-filter="@Model.SelectedImpactArea.Replace(' ', '_')"]').addClass('active');
        });
    </script>
}
@if (!string.IsNullOrEmpty(Model.SelectedCoreCompetency))
{
    <script type="text/javascript">
        $(function () {
            $('#Filters').find('li[data-filter="all"]').removeClass('active');
            $('#Filters').find('li[data-filter="@Model.SelectedCoreCompetency.Replace(' ', '_')"]').addClass('active');
        });
    </script>
}
<!-- END PAGE -->
